label{

    color: #B4886B;
    font-weight: bold;
    display: block;
    width: 150px;
    margin: auto;
    text-align: center;

}

#input1{

    font-weight: bold;
    display: block;
    width: 150px;
    text-align: center;
    margin: auto;

  
}

li
{
    text-align: center;
}
